/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

/config/master.key
.idea/
.env

test
public/uploads/
public/assets/
coverage

/config/secrets/*

# Ignore master key for decrypting credentials and more.
/config/master.key
